<%= render 'banner' %>

<div class="container m-3 p-3">
  <h2>My movie lists <%= link_to "Create a movie list", new_list_path, class: "btn btn-dark"  %> </h2>

    <div class="cards">
      <% @lists.each do |list| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url 'ticket.png' %>')">
             <%= link_to list.name, list_path(list), class: "btn btn-light" %>
          </div>
      <% end  %>
    </div>
</div>
